*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1000px;
    margin: auto;
}

header{
    width: 100%;
    height: 150px;
    background-color: blueviolet;
    margin: 20px 0 20px 0;
}

main{
    width: 100%;
}

.yellow{
    width: 100%;
    height: 400px;
    background-color: goldenrod;
    margin-bottom: 20px;
}

.dark-blue{
    width: 100%;
    height: 500px;
    background-color: blue;
}

footer{
    width: 100%;
    height: 70px;
    background-color: purple;
    margin: 20px 0px 20px 0px;
}


