*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1000px;
    margin: auto;
}

header{
    width: 100%;
    height: 150px;
    background-color: blueviolet;
    margin: 20px 0 20px 0;
}

main{
    width: 100%;
}

.yellow{
    width: 100%;
    height: 400px;
    background-color: goldenrod;
    margin-bottom: 20px;
}

.dark-blue{
    width: 1000px;
    height: 500px;
    background-color: blue;
}

footer{
    width: 100%;
    height: 70px;
    background-color: purple;
    margin: 20px 0px 20px 0px;
}


.light-blue-header{
    width: 100%;
    height: 15%;
    background-color: cornflowerblue;
}

.sidebar{
    width: calc(25% - 20px);
    height: calc(85% - 20px);
    background-color: cornflowerblue;
    float: left;
}

.main-content{
    width: calc(50% - 20px);
    height: 450px;
    background-color: cornflowerblue;
    float: left;
}

.sidebar:last-of-type{
    margin: 10px;
    margin-right: 0;
}

.sidebar:last-of-type{
   margin-top: 10px;
   margin-right: 10px;
   margin-bottom: 10px;
}